{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["import"],
  "parserOptions": { "ecmaVersion": "latest", "sourceType": "module" },
  "rules": {
    // Best practices
    "dot-notation": "error",
    "no-else-return": "error",
    "no-floating-decimal": "error",
    "no-sequences": "error",
    "no-self-compare": "off",

    // Stylistic
    "array-bracket-spacing": "error",
    "computed-property-spacing": ["error", "never"],
    "arrow-body-style": "off",
    "curly": "error",
    "no-lonely-if": "error",
    "no-unneeded-ternary": "error",
    "one-var-declaration-per-line": "error",

    // ES6
    "array-callback-return": "off",
    "prefer-const": "error",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "no-underscore-dangle": "off",

    // TypeScript
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "warn",

    // Imports
    "no-unused-expressions": "warn",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      1,
      {
        "groups": ["builtin", "external", "internal"],
        "newlines-between": "always"
      }
    ]
  }
}
